@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-container {
  background-image: url("/images/hero-image3.png");
  height: 95vh;
  background-position: center;
  background-size: cover;
}

@media (max-width: 640px) {
  .hero-container {
    height: auto;
    background-color: black;
    background-image: none;
  }
}

.P-container {
  width: 22%;
}

@media (max-width: 640px) {
  .P-container {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .icon {
    display: none
  }
}


/* .contact-height {
  height: 88vh
} */


/* @media (max-width: 640px) {
  .contact-height {
    height: auto
  }
} */

